

@font-face {
  font-family: 'Inter-Regular';
  src: url("./assets/fonts/Inter-Regular.woff2") format("woff2");
}

@font-face {
  font-family: 'Inter-Medium';
  src: url("./assets/fonts/Inter-Medium.woff2") format("woff2");
}

@font-face {
  font-family: 'Inter-Light';
  src: url("./assets/fonts/Inter-Light.woff2") format("woff2");
}

@font-face {
  font-family: 'Inter-Bold';
  src: url("./assets/fonts/Inter-Bold.woff2") format("woff2");
}

@font-face {
  font-family: 'Inter-SemiBold';
  src: url("./assets/fonts/Inter-SemiBold.woff2") format("woff2");
}

*{
  box-sizing: border-box;
  font-family: 'Inter-Regular', sans-serif;
}


:root{
  --primary-color : #337AB7;
  --success-color : #5CB85C ;
  --text-color : #F8F9FA;

  --primary-text-color : #1A1A1A;
  --seconday-text-color: #4C5B5C;
  --accent-color : #F0AD4E;
}

body{
  background-color: #f8fafc;
  color: var(--primary-text-color);
  line-height: 1.7;
}


h1{
  font-size: 32px;
  font-family: 'Inter-Bold', sans-serif;
  margin: 0 0 16px;
}

h2{
  font-size: 24px;
  font-family: 'Inter-SemiBold', sans-serif;
}

h3{
  font-size: 18px;
  font-family: 'Inter-SemiBold', sans-serif;
}

